<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @provider.name %>
</p>

<p>
  <strong>Endpoint:</strong>
  <%= @provider.endpoint %>
</p>

<p>
  <strong>Elevation:</strong>
  <%= @provider.elevation %>
</p>

<p>
  <strong>Disabled:</strong>
  <%= @provider.disabled %>
</p>

<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
